@font-face {
	font-family: 'Rosarium';
	src: url('../fonts/rosarium.ttf'); /* IE 9 Compatibility Mode */
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


body{
    background-color: #d9eee8;
}


.newlyweds{
	font-family: 'Rosarium';
	font-size: 3vw;
	text-align: center;
	
}

.invite{
	font-family: 'Rosarium';
	font-size: 3vw;
	text-align: center;

}

.dress{
	font-family: 'Rosarium';
	font-size: 5vw;
	text-align: center;

}

.dress_text{
	font-family: 'Rosarium';
	font-size: 3vw;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}

.txt{
	font-family: 'Rosarium';
	font-size: 2vw;
	text-align: center;
}

.reg{
	font-family: 'Rosarium';
	font-size: 5vw;
	text-align: center;
}

.reg_link{
	text-decoration: none;
}

.time{
	font-family: 'Rosarium';
	font-size: 5vw;
	text-align: center;
}

.discussion{
	font-family: 'Rosarium';
	font-size: 2.5vw;
	text-align: center;

}

.group{
	border: solid black;
	border-radius: 0.5vw;
	font-family: 'Rosarium';
	font-size: 5vw;
	text-align: center;
	margin-left: 500px;
	margin-right: 520px;
}

.group_link{
	text-decoration: none;
}

li{
	text-decoration: none;
}