/* Общие стили для страницы */
body {
    font-family: 'Rosarium';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d9eee8;
}

/* Скрытие скроллбара */
::-webkit-scrollbar {
    width: 0;
}

.admin-btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
    background-color: #87dfc8;
    color: white;
    text-decoration: none;
    border-radius: 5vw;
    border: 1px solid #87dfc8;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.admin-btn:hover {
    background-color: #81b4ef;
    border-color: #81b4ef;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Общие стили для всех блоков */
.image, .photo, .discussion, .map, .reg, .time {
    width: 100%;
    margin-bottom: 20px;
}

/* Стили для изображений */
img {
    width: 30vw;
    height: auto;
}

.image {
    text-align: center;
}

img.double {
    border-radius: 1vw;
    width: 30vw; /* Увеличено с 100% до 75% */
    height: auto; /* Увеличено с 100% до 100% */
}

/* Увеличение фотографии только на экранах шире 600px */
@media (min-width: 600px) {
    .all {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .reg, .time, .discussion {
        width: calc(100% - 20px);
    }
}

@media (max-width: 599px) {
    .main-image {
        height: 100vh;
        object-fit: cover;
    }
}

/* Стили для карты Google */
.map {
    text-align: center;
    margin-top: 40px;
    margin-bottom: auto;
}

.map iframe {
    width: 100%;
    height: 17vw;
    border: 0;
    border-radius: 0.5vw;
}

/* Стили для текстовых блоков и параграфов */
.invite, .dress, .txt {
    text-align: center;
    margin-bottom: 2vw;
}

.invite, .newlyweds, .dress_text, .time, .discussion {
    font-family: 'Rosarium';
    text-align: center;
}

.place, .schedule, .newlyweds, .invite, .dress_text, .time {
    font-size: 3vw;
}

ul {
    margin-left: 11vw;
}

.dress {
    font-size: 5vw;
}

.txt, .discussion {
    font-size: 3vw;
}

.reg {
    font-size: 5vw;
}

.reg_link {
    text-decoration: none;
}

.group {
    border: solid black;
    border-radius: 0.5vw;
    font-family: 'Rosarium';
    font-size: 5vw;
    text-align: center;
    margin-left: 500px;
    margin-right: 520px;
}

.group_link {
    text-decoration: none;
}

li {
    text-decoration: none;
}

.time ul {
    list-style-type: none;
    padding: 0;
}

.time li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.datetime {
    margin-left: 15vw;
    flex: 1;
    text-align: left;
    font-size: 4vw;
}

.event-name {
    flex: 2;
    text-align: center;
    font-size: 4vw;
    margin-right: 15vw;
}

/* Стили для кнопки и ссылки в ней */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 18vw;
    height: 6vw;
    cursor: pointer;
    background-color: #87dfc8;
    border: 0;
    border-radius: 0.5vw;
    outline: none;
    transition: 0.2s ease-in-out;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn svg {
    position: absolute;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background: #81b4ef;
}

.btn span {
    color: white;
    font-size: 1.8vw;
    font-weight: 100;
}

/* Импорт шрифтов */
@font-face {
    font-family: 'Rosarium';
    src: url('../fonts/rosarium.ttf'); /* IE 9 Compatibility Mode */
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.krugi {
    width: 45vw;
}

.money{
    font-size: 3vw;
}

.accept {
    font-family: 'Rosarium';
    font-size: 3vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 4vw;
}
    