/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Общие стили для всех блоков */
.image, .photo, .discussion, .map, .reg, .time {
    width: 100%;
    margin-bottom: 20px;
}

/* Стили для изображений */
img {
    max-width: 100%;
    height: auto;
}

/* Стили для первого изображения */
.main-image {
    width: 100%;
    height: auto;
}

/* Медиа-запросы для адаптивного дизайна */
@media (min-width: 600px) {
    .all {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .photo, .discussion {
        width: calc(33.33% - 20px);
        margin-right: 20px;
    }

    .reg, .time, .discussion {
        width: calc(100% - 20px);
    }
}

@media (max-width: 599px) {
    .main-image {
        height: 100vh; /* Высота изображения будет соответствовать высоте экрана */
        object-fit: cover; /* Масштабирует изображение, сохраняя пропорции, чтобы заполнить контейнер */
    }
}

/* Стили для карты Google */
.map {
    text-align: center;
    margin-top: 40px;
    margin-bottom: auto;
}

.map iframe {
    width: 100%;
    height: 300px; /* Высота карты (можно настроить по вашему желанию) */
    border: 0;
    border-radius: 0.5vw; /* Округление углов карты */
}

/* Стили для текстовых блоков и параграфов */
.invite, .newlyweds, .dress, .txt, .dress_text, .time, .discussion p {
    text-align: center;
}

/* Стили для кнопки и ссылки в ней */
.btn {
    width: 18vw;
    height: 6vw;
    cursor: pointer;
    background-color: #87dfc8;
    border: 0px solid;
    border-radius: 0.5vw;
    outline: none;
    transition: 0.2s ease-in-out;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.btn svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    transition: 0.2s ease-in-out;
    background: #81b4ef;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
    font-weight: 100;
}

/* Стили для расписания мероприятия */
.time ul {
    list-style-type: none;
    padding: 0;
}

.time li {
    display: flex;
    justify-content: center; /* Центрирует содержимое */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-bottom: 10px;
}

.datetime {
    flex: 1; /* Занимает всю доступную ширину, вытесняя event-name в центр */
    text-align: left; /* Выравнивание текста по левому краю */
}

.event-name {
    flex: 2; /* Занимает всю доступную ширину */
    text-align: center; /* Выравнивание текста по левому краю */
    margin-left: 20px; /* Отступ слева */
}

/* Стили для увеличения второй фотографии */
.photo img.double {
    width: 100%; /* Ширина изображения будет равна ширине контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Увеличение фотографии только на экранах шире 600px */
@media (min-width: 600px) {
    .photo img.double {
        width: 150%; /* Увеличение изображения на 50% */
        margin-left: -25%; /* Центрирование изображения */
    }
}
