{% extends 'base.jinja2' %}

{% block head %}
    <link type="text/css" href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" />
<!--    <script src="{{ url_for('static', filename='js/login.js') }}"></script>-->
{% endblock %}

{% block title %}
<title>
    {{title}}
</title>
{% endblock %}

{% block content %}
<div class="reg">
    <div class="container">
        <form method="post">
            <span>Авторизация</span>
            <p class="form"><input class="for-form" type="text" placeholder="Номер телефона" name="p_number" required/></p>
            <p class="form"><input class="for-form" type="password" placeholder="Пароль" name="psw" id="password" required/></p>
            <p class="form-reg"><input type="submit" value="Войти"/></p>
        </form>

        <dev class="button_reg">
            <a class="zareg" href="/registrations">Регистрация</a>
        </dev>
    </div>
</div>
{% endblock %}
