.reg {
    font-family: 'Rosarium';
    font-size: 250%;
    background-color: rgb(189, 228, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12%;
    border-radius: 10px;
}

.container {
    width: 50%;
    text-align: center;
}

.form-reg {
    margin-top: 5%;
}

.form {
    margin: 3%;
}

input {
    border-color: none;
}

body {
    background-color: #d9eee8;
}