{% block head %}
    
{% endblock%}

{% block title %}
    <title class="title">{{title}}</title>
{% endblock %}

<body>
    <div>

        {% block content %}

        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </div>
</body>
</html>
