{% extends 'base.jinja2' %}

{% block head %}
    <link type="text/css" href="{{ url_for('.static', filename='css/profile.css')}}" rel="stylesheet" />
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <h1>Профиль <a class="back" href="{{ url_for('main.index') }}">Вернуться на главную</a></h1>
    
    <div class="profile">
        <h2>Пользователи</h2>
        <div class="table-container">
            <div class="table-row header">
                <div class="table-cell">Фамилия</div>
                <div class="table-cell">Имя</div>
                <div class="table-cell">Отчество</div>
                <div class="table-cell">Telegram</div>
                <div class="table-cell">Телефон</div>      
            </div>
            
            {% for alls in all %}
                <div class="table-row">
                    <div class="table-cell">{{ alls.last_name }}</div>
                    <div class="table-cell">{{ alls.first_name }}</div>
                    <div class="table-cell">{{ alls.patronymic }}</div>
                    <div class="table-cell">{{ alls.s_n }}</div>
                    <div class="table-cell">{{ alls.p_number }}</div>
                </div>
            {% endfor %}
        </div>
        
        <h2>Полная регистрация</h2>
        <div class="table-container">
            <div class="table-row header">
                <div class="table-cell">Фамилия</div>
                <div class="table-cell">Имя</div>
                <div class="table-cell">Отчество</div>
                <div class="table-cell">Telegram</div>
                <div class="table-cell">Телефон</div>
                <div class="table-cell">Меню</div>
                <div class="table-cell">Музыка</div>
                <div class="table-cell">История</div>
                <div class="table-cell">Факты</div>
                <div class="table-cell">Сюрприз</div>
                <div class="table-cell">Вопросы</div>
            </div>
            
            {% for guest,accept in guests %}
                <div class="table-row">
                    <div class="table-cell">{{ guest.last_name }}</div>
                    <div class="table-cell">{{ guest.first_name }}</div>
                    <div class="table-cell">{{ guest.patronymic }}</div>
                    <div class="table-cell">{{ guest.s_n }}</div>
                    <div class="table-cell">{{ guest.p_number }}</div>
                    <div class="table-cell">{{ accept.menu }}</div>
                    <div class="table-cell">{{ accept.music }}</div>
                    <div class="table-cell">{{ accept.hist }}</div>
                    <div class="table-cell">{{ accept.fact }}</div>
                    <div class="table-cell">{{ accept.surprise }}</div>
                    <div class="table-cell">{{ accept.question }}</div>
                </div>
            {% endfor %}
        </div>
        

        <a class="logout" href="{{ url_for('auth.logout') }}">Выйти из профиля</a>
    </div>
{% endblock %}
